/* Basic CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
body, html{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", serif;
    font-weight: 400;
    font-style: normal;
}
.darker{
    background-color: #2c3e50;
    color: #ECF0F1;
    display: flex;
    align-items: center;
    padding: 25px 2%;

}
.lighter{
    background-color: #ECF0F1;
    color: #2c3e50;
    display: flex;
    align-items: center;
    padding: 25px 2%;
}
.header{
    width: 100%;
    justify-content: space-between;
}
.logo{
    font-style:normal;
    font-weight: 500;
    font-size: 50px;
    margin-right: 50px;
    z-index: 999;
    text-decoration: none;
    color: #ECF0F1; /*required since they are hyperlinks*/
}
.navs{
    font-style: normal;
    font-weight: 100;
    font-size: 25px;
    margin-right: 20px;
    text-decoration: none;
    color: #ECF0F1; /*required since they are hyperlinks*/
}
.resume{
    position: relative;
}
.resume::after {
    content: "Download his resume";
    visibility: hidden;
    background-color: #ECF0F1 ;
    color: #2c3e50;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    /*Positioning*/position: absolute;
    z-index: 1;
    bottom: 100%;
    /*Positionabovethelink*/left: 50%;
    transform: translateX(-50%);
    /*Optionalstyling*/opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
}
  .resume:hover::after {
    visibility: visible;
    opacity: 1;
  }
.currnav{
    display: inline-block; 
    border-bottom: 2px solid #ECF0F1; /*underline color for current shown page*/
    padding-bottom: 5px;
}
.socmed button {
    background: none;
    border: none;
    color: #ECF0F1; /*for buttons*/
    cursor: pointer;
    margin-left: 20px;
}
.menu-icon {
    display: none;
    font-size: 50px;
    cursor: pointer;
    z-index: 999;
}
.dropdown-menu {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
}
.dropdown-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
.dropdown-menu li {
    margin: 10px 0;
}
.dropdown-menu a {
    color: #ECF0F1;
    text-decoration: none;
}
img {
    max-height: 20%;
    max-width: 20%;
}
.txt{
    text-align: center;
    font-size: 40px;
    padding: 20px;
    font-weight: bold;
}
.des{
    text-align: left;
    font-size:small;
    font-size: 25px;
}
.chartcon{
    width: 33.33%;
    margin: auto;
}
.legendItem {
    margin: 10px;
    font-size: 20px;
}
.colorBox {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid #2c3e50; /* Add border to color box for better visibility */
    display: inline-flex;
}
canvas{
    width: 100% !important;
    height: auto !important;
}
/*for the dropdown*/
.work-experience{
    flex-direction: column; 
    width: 50%; 
    align-items:flex-start; 
    padding: 0;
}
.job {
    margin-bottom: 20px;
    padding: 0;
    width: 100%;
    overflow: hidden;
}
.dropdown-btn {
    color: #ECF0F1;
    text-align: left;
    font-size: 40px;
    padding: 20px;
    width: 100%;
    border: none;
    border-top: 1px solid #ECF0F1;
    cursor: pointer;
    background-color: #2c3e50;
    display: inline-flex;
    justify-content: space-between;
    font-family: "Montserrat", serif;
}
.dropdown-btn:focus {
    outline: none;
}
.dropdown-content {
    display: none;
}
.dropdown-content p {
    margin: 20px;
}
.dropdown-content hr {
    border: 1px dashed #ECF0F1;    
}

.responsibilities {
    margin: 20px; /* Remove default margin */
    padding-left: 20px; /* Add some padding for the bullets */
    list-style-type: disc; /* Add bullets */
}
.responsibilities li {
    margin-bottom: 10px; /* Add space between list items */
    margin-left: 10px;
}
.lighter .job .dropdown-btn{
    background-color: #ECF0F1; 
    color: #2c3e50; 
    border-top: 1px solid #2c3e50;
}
.title{
    width: 50%;
    position: sticky;
    top: 0;  /* Element will stick to the top of its containing block */
    text-align: left;
    
}
.flexs{
    align-items: flex-start;
}
/* For the certdisplay */
.cert li {
    cursor: pointer;
}
.cert li:hover{
    text-decoration: underline;
}
.cert .navs{
    cursor: pointer;
    color: #2c3e50;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.modal-content {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-content.show {
    transform: scale(1); /* Scale to normal size */
}
.close {
    color: #ECF0F1;
    font-size: 28px;
    font-weight: bold;
    width: 100%;
    display: flex;
    width: 90%;
    justify-content: flex-end;

}
.close:hover,
.close:focus {
    color: none;
    text-decoration: none;
    cursor: pointer;
}
.cert-img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain; /* Ensures the image fits within the container while preserving aspect ratio */
    display: block;
}
.footer{
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}
.footer .navs{
    padding: 5px 0;
}
.footer a,.footer p{
    text-decoration: none; color: #ECF0F1;
    margin-top: 10px;
}
.footer a:hover{
    text-decoration: underline;
}
.footer hr{
    width: 100%;
    height:10px;
    border-width:0;
    color:#ECF0F1;
    background-color:#ECF0F1;
}
.flexj{
    justify-content: center;
    flex-wrap: wrap;

}
.categ{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 50%; /* Each div takes up 50% of the row */
    box-sizing: border-box; /* Ensures padding/margins don't cause overflow */
    width: 50%;
}
/* From Uiverse.io by joe-watson-sbf */ 
.card {
    width: 50%;
    flex: 1 1 50%; /* Each div takes up 50% of the row */
    box-sizing: border-box; /* Ensures padding/margins don't cause overflow */
    height: 254px;
    border-radius: 4px;
    background: #2c3e50;
    display: flex;
    gap: 5px;
    padding: .4em;
    
  }
  
  .card p {
    height: 100%;
    flex: 1;
    overflow: hidden;
    cursor: pointer;
    border-radius: 2px;
    transition: all .5s;
    background: #2c3e50;
    border: 1px solid #ECF0F1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card p:hover {
    flex: 4;
  }
  
  .card p span {
    min-width: 14em;
    padding: .5em;
    text-align: center;
    transform: rotate(-90deg);
    transition: all .5s;
    text-transform: uppercase;
    color: #ECF0F1;
    letter-spacing: .1em;
  }
  
  .card p:hover span {
    transform: rotate(0);
  }
@media screen and (max-width: 768px){
    body{
        width: 100%;
    }
    .logonav nav{
        display:none;      
    }
    .socmed{
        display: none;
    }
    .menu-icon {
        display: inline;
    }
    img {
        max-height: 40%;
        max-width: 40%;
    }
    .darker, .lighter{
        flex-direction: column;    
    }
    .txt, .dropdown-btn{
        font-size: 25px;
    }
    .des, .legendItem{
        font-size: 15px;
    }
    .chartcon{
        width: 66.66%;
    }
    .work-experience{
        width: 100%;
    }
    .title{
        position: relative;
    }
    .categ, .card{
        width: 100%;
        flex: 1 1 100%; 
    }
}
body.no-scroll {
    overflow: hidden;
  }